<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBa5PpGogLWBPVi-tB_U-HJFYyTHtSlZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>928727016278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letransporteurLivreur</string>
	<key>PROJECT_ID</key>
	<string>letransporteur-8937a</string>
	<key>STORAGE_BUCKET</key>
	<string>letransporteur-8937a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928727016278:ios:d39fee1423f97b0b14acf7</string>
</dict>
</plist>